LOCATE AND ILOCATE

In [3]:
import pandas as pd

In [5]:
df=pd.read_excel("Sales Analysis Report (1) (1) (2).xlsx")

In [7]:
df

,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Region Index,Product Index,Order Quantity,Unit Price,Total Unit Cost,Total Revenue
0,SO - 000225,2017-01-01,2017-01-13,28,Wholesale,NZD,AXW291,71,11,6,2499.1,1824.343,14994.6
1,SO - 0003378,2017-01-01,2017-01-06,7,Distributor,NZD,AXW291,54,7,11,2351.7,1269.918,25868.7
2,SO - 0003901,2017-01-01,2017-01-05,12,Wholesale,NZD,AXW291,58,13,5,1728.6,1019.874,8643.0
3,SO - 0005126,2017-01-01,2017-01-17,5,Wholesale,USD,AXW291,29,7,6,978.2,684.740,5869.2
4,SO - 0005614,2017-01-01,2017-01-07,27,Export,NZD,AXW291,31,6,7,2338.3,1028.852,16368.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0005237,2019-12-12,2019-12-16,41,Wholesale,NZD,FLR025,93,9,7,261.3,107.133,1829.1
7987,SO - 0005477,2019-12-12,2019-12-27,28,Distributor,AUD,FLR025,56,2,7,1996.6,1477.484,13976.2
7988,SO - 0006936,2019-12-12,2019-12-27,30,Wholesale,NZD,FLR025,66,1,9,3912.8,2817.216,35215.2
7989,SO - 0007126,2019-12-12,2019-12-25,6,Distributor,USD,FLR025,31,5,10,1855.9,1113.540,18559.0
7990,SO - 0007668,2019-12-12,2019-12-25,4,Wholesale,NZD,FLR025,65,13,11,3959.7,2138.238,43556.7

In [9]:
df.head(20)

,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Region Index,Product Index,Order Quantity,Unit Price,Total Unit Cost,Total Revenue
0,SO - 000225,2017-01-01,2017-01-13,28,Wholesale,NZD,AXW291,71,11,6,2499.1,1824.343,14994.6
1,SO - 0003378,2017-01-01,2017-01-06,7,Distributor,NZD,AXW291,54,7,11,2351.7,1269.918,25868.7
2,SO - 0003901,2017-01-01,2017-01-05,12,Wholesale,NZD,AXW291,58,13,5,1728.6,1019.874,8643.0
3,SO - 0005126,2017-01-01,2017-01-17,5,Wholesale,USD,AXW291,29,7,6,978.2,684.740,5869.2
4,SO - 0005614,2017-01-01,2017-01-07,27,Export,NZD,AXW291,31,6,7,2338.3,1028.852,16368.1
5,SO - 0005781,2017-01-01,2017-01-15,44,Wholesale,GBP,AXW291,78,9,8,2291.4,1260.270,18331.2
6,SO - 0002911,2017-01-02,2017-01-15,37,Wholesale,EUR,AXW291,2,2,6,911.2,665.176,5467.2
7,SO - 0003527,2017-01-02,2017-01-19,8,Wholesale,USD,AXW291,77,9,11,1701.8,1429.512,18719.8
8,SO - 0004792,2017-01-02,2017-01-13,14,Wholesale,NZD,AXW291,82,11,6,167.5,83.750,1005.0
9,SO - 0005414,2017-01-02,2017-01-05,47,Wholesale,USD,AXW291,71,7,7,1835.8,1413.566,12850.6
10,SO - 0005609,2017-01-02,2017-01-10,22,Distributor,NZD,AXW291,5,1,7,3966.4,1903.872,27764.8
11,SO - 0006308,2017-01-02,2017-01-19,39,Wholesale,USD,AXW291,42,1,8,214.4,124.352,1715.2
12,SO - 0006534,2017-01-02,2017-01-11,46,Distributor,NZD,AXW291,87,2,9,5152.3,3709.656,46370.7
13,SO - 0007139,2017-01-02,2017-01-09,45,Wholesale,NZD,AXW291,80,1,6,2418.7,1910.773,14512.2
14,SO - 000450,2017-01-03,2017-01-19,20,Wholesale,EUR,AXW291,38,7,7,1078.7,906.108,7550.9
15,SO - 000848,2017-01-03,2017-01-12,36,Wholesale,NZD,AXW291,97,1,9,2217.7,1596.744,19959.3
16,SO - 0001724,2017-01-03,2017-01-19,30,Wholesale,AUD,AXW291,88,9,11,1038.5,633.485,11423.5
17,SO - 0002078,2017-01-03,2017-01-14,5,Wholesale,GBP,AXW291,6,2,5,3999.9,3279.918,19999.5
18,SO - 0002795,2017-01-03,2017-01-09,11,Wholesale,NZD,AXW291,95,5,12,3872.6,2517.190,46471.2
19,SO - 0003775,2017-01-03,2017-01-15,5,Distributor,GBP,AXW291,37,2,12,891.1,516.838,10693.2

In [11]:
df.loc[0:20]

,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Region Index,Product Index,Order Quantity,Unit Price,Total Unit Cost,Total Revenue
0,SO - 000225,2017-01-01,2017-01-13,28,Wholesale,NZD,AXW291,71,11,6,2499.1,1824.343,14994.6
1,SO - 0003378,2017-01-01,2017-01-06,7,Distributor,NZD,AXW291,54,7,11,2351.7,1269.918,25868.7
2,SO - 0003901,2017-01-01,2017-01-05,12,Wholesale,NZD,AXW291,58,13,5,1728.6,1019.874,8643.0
3,SO - 0005126,2017-01-01,2017-01-17,5,Wholesale,USD,AXW291,29,7,6,978.2,684.740,5869.2
4,SO - 0005614,2017-01-01,2017-01-07,27,Export,NZD,AXW291,31,6,7,2338.3,1028.852,16368.1
5,SO - 0005781,2017-01-01,2017-01-15,44,Wholesale,GBP,AXW291,78,9,8,2291.4,1260.270,18331.2
6,SO - 0002911,2017-01-02,2017-01-15,37,Wholesale,EUR,AXW291,2,2,6,911.2,665.176,5467.2
7,SO - 0003527,2017-01-02,2017-01-19,8,Wholesale,USD,AXW291,77,9,11,1701.8,1429.512,18719.8
8,SO - 0004792,2017-01-02,2017-01-13,14,Wholesale,NZD,AXW291,82,11,6,167.5,83.750,1005.0
9,SO - 0005414,2017-01-02,2017-01-05,47,Wholesale,USD,AXW291,71,7,7,1835.8,1413.566,12850.6
10,SO - 0005609,2017-01-02,2017-01-10,22,Distributor,NZD,AXW291,5,1,7,3966.4,1903.872,27764.8
11,SO - 0006308,2017-01-02,2017-01-19,39,Wholesale,USD,AXW291,42,1,8,214.4,124.352,1715.2
12,SO - 0006534,2017-01-02,2017-01-11,46,Distributor,NZD,AXW291,87,2,9,5152.3,3709.656,46370.7
13,SO - 0007139,2017-01-02,2017-01-09,45,Wholesale,NZD,AXW291,80,1,6,2418.7,1910.773,14512.2
14,SO - 000450,2017-01-03,2017-01-19,20,Wholesale,EUR,AXW291,38,7,7,1078.7,906.108,7550.9
15,SO - 000848,2017-01-03,2017-01-12,36,Wholesale,NZD,AXW291,97,1,9,2217.7,1596.744,19959.3
16,SO - 0001724,2017-01-03,2017-01-19,30,Wholesale,AUD,AXW291,88,9,11,1038.5,633.485,11423.5
17,SO - 0002078,2017-01-03,2017-01-14,5,Wholesale,GBP,AXW291,6,2,5,3999.9,3279.918,19999.5
18,SO - 0002795,2017-01-03,2017-01-09,11,Wholesale,NZD,AXW291,95,5,12,3872.6,2517.190,46471.2
19,SO - 0003775,2017-01-03,2017-01-15,5,Distributor,GBP,AXW291,37,2,12,891.1,516.838,10693.2
20,SO - 0004247,2017-01-03,2017-01-14,14,Export,NZD,AXW291,53,1,6,3879.3,2056.029,23275.8

In [13]:
df.loc[10:20]

,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Region Index,Product Index,Order Quantity,Unit Price,Total Unit Cost,Total Revenue
10,SO - 0005609,2017-01-02,2017-01-10,22,Distributor,NZD,AXW291,5,1,7,3966.4,1903.872,27764.8
11,SO - 0006308,2017-01-02,2017-01-19,39,Wholesale,USD,AXW291,42,1,8,214.4,124.352,1715.2
12,SO - 0006534,2017-01-02,2017-01-11,46,Distributor,NZD,AXW291,87,2,9,5152.3,3709.656,46370.7
13,SO - 0007139,2017-01-02,2017-01-09,45,Wholesale,NZD,AXW291,80,1,6,2418.7,1910.773,14512.2
14,SO - 000450,2017-01-03,2017-01-19,20,Wholesale,EUR,AXW291,38,7,7,1078.7,906.108,7550.9
15,SO - 000848,2017-01-03,2017-01-12,36,Wholesale,NZD,AXW291,97,1,9,2217.7,1596.744,19959.3
16,SO - 0001724,2017-01-03,2017-01-19,30,Wholesale,AUD,AXW291,88,9,11,1038.5,633.485,11423.5
17,SO - 0002078,2017-01-03,2017-01-14,5,Wholesale,GBP,AXW291,6,2,5,3999.9,3279.918,19999.5
18,SO - 0002795,2017-01-03,2017-01-09,11,Wholesale,NZD,AXW291,95,5,12,3872.6,2517.190,46471.2
19,SO - 0003775,2017-01-03,2017-01-15,5,Distributor,GBP,AXW291,37,2,12,891.1,516.838,10693.2
20,SO - 0004247,2017-01-03,2017-01-14,14,Export,NZD,AXW291,53,1,6,3879.3,2056.029,23275.8

In [15]:
df.loc[0:20,"Channel"]

0       Wholesale
1     Distributor
2       Wholesale
3       Wholesale
4          Export
5       Wholesale
6       Wholesale
7       Wholesale
8       Wholesale
9       Wholesale
10    Distributor
11      Wholesale
12    Distributor
13      Wholesale
14      Wholesale
15      Wholesale
16      Wholesale
17      Wholesale
18      Wholesale
19    Distributor
20         Export
Name: Channel, dtype: object

In [17]:
df.loc[10:20,"Channel":"Region Index"]

        Channel Currency Code Warehouse Code  Region Index
10  Distributor           NZD         AXW291             5
11    Wholesale           USD         AXW291            42
12  Distributor           NZD         AXW291            87
13    Wholesale           NZD         AXW291            80
14    Wholesale           EUR         AXW291            38
15    Wholesale           NZD         AXW291            97
16    Wholesale           AUD         AXW291            88
17    Wholesale           GBP         AXW291             6
18    Wholesale           NZD         AXW291            95
19  Distributor           GBP         AXW291            37
20       Export           NZD         AXW291            53

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OrderNumber          7991 non-null   object
 1   OrderDate            7991 non-null   datetime64[ns]
 2   Ship Date            7991 non-null   datetime64[ns]
 3   Customer Name Index  7991 non-null   int64
 4   Channel              7991 non-null   object
 5   Currency Code        7991 non-null   object
 6   Warehouse Code       7991 non-null   object
 7   Region Index         7991 non-null   int64
 8   Product  Index       7991 non-null   int64
 9   Order Quantity       7991 non-null   int64
 10  Unit Price           7991 non-null   float64
 11  Total Unit Cost      7991 non-null   float64
 12  Total Revenue        7991 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(4), object(4)
memory usage: 811.7+ KB

In [21]:
df.loc[0:5,"OrderDate":"Warehouse Code"]

,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code
0,2017-01-01,2017-01-13,28,Wholesale,NZD,AXW291
1,2017-01-01,2017-01-06,7,Distributor,NZD,AXW291
2,2017-01-01,2017-01-05,12,Wholesale,NZD,AXW291
3,2017-01-01,2017-01-17,5,Wholesale,USD,AXW291
4,2017-01-01,2017-01-07,27,Export,NZD,AXW291
5,2017-01-01,2017-01-15,44,Wholesale,GBP,AXW291

In [23]:
df.loc[:,"OrderDate":"Warehouse Code"]

,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code
0,2017-01-01,2017-01-13,28,Wholesale,NZD,AXW291
1,2017-01-01,2017-01-06,7,Distributor,NZD,AXW291
2,2017-01-01,2017-01-05,12,Wholesale,NZD,AXW291
3,2017-01-01,2017-01-17,5,Wholesale,USD,AXW291
4,2017-01-01,2017-01-07,27,Export,NZD,AXW291
...,...,...,...,...,...,...
7986,2019-12-12,2019-12-16,41,Wholesale,NZD,FLR025
7987,2019-12-12,2019-12-27,28,Distributor,AUD,FLR025
7988,2019-12-12,2019-12-27,30,Wholesale,NZD,FLR025
7989,2019-12-12,2019-12-25,6,Distributor,USD,FLR025
7990,2019-12-12,2019-12-25,4,Wholesale,NZD,FLR025

In [25]:
df.loc[0:10,["OrderDate","Total Revenue","Warehouse Code"]]

    OrderDate  Total Revenue Warehouse Code
0  2017-01-01        14994.6         AXW291
1  2017-01-01        25868.7         AXW291
2  2017-01-01         8643.0         AXW291
3  2017-01-01         5869.2         AXW291
4  2017-01-01        16368.1         AXW291
5  2017-01-01        18331.2         AXW291
6  2017-01-02         5467.2         AXW291
7  2017-01-02        18719.8         AXW291
8  2017-01-02         1005.0         AXW291
9  2017-01-02        12850.6         AXW291
10 2017-01-02        27764.8         AXW291

In [27]:
df.set_index("Product  Index",inplace=True)

In [29]:
df

,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Region Index,Order Quantity,Unit Price,Total Unit Cost,Total Revenue
Product Index,,,,,,,,,,,,
11,SO - 000225,2017-01-01,2017-01-13,28,Wholesale,NZD,AXW291,71,6,2499.1,1824.343,14994.6
7,SO - 0003378,2017-01-01,2017-01-06,7,Distributor,NZD,AXW291,54,11,2351.7,1269.918,25868.7
13,SO - 0003901,2017-01-01,2017-01-05,12,Wholesale,NZD,AXW291,58,5,1728.6,1019.874,8643.0
7,SO - 0005126,2017-01-01,2017-01-17,5,Wholesale,USD,AXW291,29,6,978.2,684.740,5869.2
6,SO - 0005614,2017-01-01,2017-01-07,27,Export,NZD,AXW291,31,7,2338.3,1028.852,16368.1
...,...,...,...,...,...,...,...,...,...,...,...,...
9,SO - 0005237,2019-12-12,2019-12-16,41,Wholesale,NZD,FLR025,93,7,261.3,107.133,1829.1
2,SO - 0005477,2019-12-12,2019-12-27,28,Distributor,AUD,FLR025,56,7,1996.6,1477.484,13976.2
1,SO - 0006936,2019-12-12,2019-12-27,30,Wholesale,NZD,FLR025,66,9,3912.8,2817.216,35215.2
5,SO - 0007126,2019-12-12,2019-12-25,6,Distributor,USD,FLR025,31,10,1855.9,1113.540,18559.0
13,SO - 0007668,2019-12-12,2019-12-25,4,Wholesale,NZD,FLR025,65,11,3959.7,2138.238,43556.7

In [31]:
df.sort_index(inplace=True)

In [33]:
df

,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Region Index,Order Quantity,Unit Price,Total Unit Cost,Total Revenue
Product Index,,,,,,,,,,,,
1,SO - 0003690,2018-03-06,2018-03-16,37,Wholesale,EUR,AXW291,64,11,3999.9,2279.943,43998.9
1,SO - 0006864,2018-06-24,2018-07-02,30,Wholesale,NZD,GUT930,17,6,3999.9,2519.937,23999.4
1,SO - 000891,2017-11-17,2017-11-23,21,Export,AUD,AXW291,72,6,1829.1,987.714,10974.6
1,SO - 0003373,2019-10-27,2019-11-06,41,Wholesale,NZD,FLR025,33,12,5534.2,4095.308,66410.4
1,SO - 0001081,2018-06-23,2018-07-01,30,Distributor,USD,GUT930,12,12,1125.6,574.056,13507.2
...,...,...,...,...,...,...,...,...,...,...,...,...
14,SO - 0001616,2019-07-31,2019-08-13,37,Wholesale,NZD,NXH382,67,9,1742.0,1393.600,15678.0
14,SO - 0006883,2018-10-14,2018-10-20,42,Distributor,NZD,GUT930,17,12,1246.2,834.954,14954.4
14,SO - 0003751,2018-10-24,2018-11-09,28,Wholesale,NZD,GUT930,3,5,3959.7,2217.432,19798.5
14,SO - 0005640,2018-09-18,2018-09-21,38,Wholesale,NZD,GUT930,25,5,1125.6,630.336,5628.0
14,SO - 0007111,2018-05-07,2018-05-11,31,Export,NZD,AXW291,65,12,1072.0,439.520,12864.0

In [35]:
df.loc[1:2]

,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Region Index,Order Quantity,Unit Price,Total Unit Cost,Total Revenue
Product Index,,,,,,,,,,,,
1,SO - 0003690,2018-03-06,2018-03-16,37,Wholesale,EUR,AXW291,64,11,3999.9,2279.943,43998.9
1,SO - 0006864,2018-06-24,2018-07-02,30,Wholesale,NZD,GUT930,17,6,3999.9,2519.937,23999.4
1,SO - 000891,2017-11-17,2017-11-23,21,Export,AUD,AXW291,72,6,1829.1,987.714,10974.6
1,SO - 0003373,2019-10-27,2019-11-06,41,Wholesale,NZD,FLR025,33,12,5534.2,4095.308,66410.4
1,SO - 0001081,2018-06-23,2018-07-01,30,Distributor,USD,GUT930,12,12,1125.6,574.056,13507.2
...,...,...,...,...,...,...,...,...,...,...,...,...
2,SO - 0007683,2018-10-08,2018-10-20,3,Wholesale,USD,GUT930,17,5,1715.2,1063.424,8576.0
2,SO - 000525,2019-11-20,2019-11-23,43,Wholesale,NZD,FLR025,90,10,3959.7,2138.238,39597.0
2,SO - 0002793,2017-03-17,2017-04-04,17,Wholesale,NZD,AXW291,1,7,1051.9,841.520,7363.3
2,SO - 0005722,2019-10-11,2019-10-17,13,Wholesale,AUD,FLR025,92,10,1038.5,498.480,10385.0
2,SO - 0006897,2019-06-06,2019-06-18,46,Distributor,NZD,NXH382,35,9,2613.0,1541.670,23517.0

In [37]:
df.iloc[1]

OrderNumber                   SO - 0006864
OrderDate              2018-06-24 00:00:00
Ship Date              2018-07-02 00:00:00
Customer Name Index                     30
Channel                          Wholesale
Currency Code                          NZD
Warehouse Code                      GUT930
Region Index                            17
Order Quantity                           6
Unit Price                          3999.9
Total Unit Cost                   2519.937
Total Revenue                      23999.4
Name: 1, dtype: object

In [39]:
df.iloc[1,4:8]

Channel           Wholesale
Currency Code           NZD
Warehouse Code       GUT930
Region Index             17
Name: 1, dtype: object

In [41]:
df.reset_index(inplace=True)

In [43]:
df

,Product Index,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Region Index,Order Quantity,Unit Price,Total Unit Cost,Total Revenue
0,1,SO - 0003690,2018-03-06,2018-03-16,37,Wholesale,EUR,AXW291,64,11,3999.9,2279.943,43998.9
1,1,SO - 0006864,2018-06-24,2018-07-02,30,Wholesale,NZD,GUT930,17,6,3999.9,2519.937,23999.4
2,1,SO - 000891,2017-11-17,2017-11-23,21,Export,AUD,AXW291,72,6,1829.1,987.714,10974.6
3,1,SO - 0003373,2019-10-27,2019-11-06,41,Wholesale,NZD,FLR025,33,12,5534.2,4095.308,66410.4
4,1,SO - 0001081,2018-06-23,2018-07-01,30,Distributor,USD,GUT930,12,12,1125.6,574.056,13507.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,14,SO - 0001616,2019-07-31,2019-08-13,37,Wholesale,NZD,NXH382,67,9,1742.0,1393.600,15678.0
7987,14,SO - 0006883,2018-10-14,2018-10-20,42,Distributor,NZD,GUT930,17,12,1246.2,834.954,14954.4
7988,14,SO - 0003751,2018-10-24,2018-11-09,28,Wholesale,NZD,GUT930,3,5,3959.7,2217.432,19798.5
7989,14,SO - 0005640,2018-09-18,2018-09-21,38,Wholesale,NZD,GUT930,25,5,1125.6,630.336,5628.0
7990,14,SO - 0007111,2018-05-07,2018-05-11,31,Export,NZD,AXW291,65,12,1072.0,439.520,12864.0

In [45]:
df_export=df.loc[df["Channel"]=="Export"]
df_export

,Product Index,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Region Index,Order Quantity,Unit Price,Total Unit Cost,Total Revenue
2,1,SO - 000891,2017-11-17,2017-11-23,21,Export,AUD,AXW291,72,6,1829.1,987.714,10974.6
8,1,SO - 0005303,2018-11-29,2018-12-08,13,Export,NZD,GUT930,19,9,958.1,479.050,8622.9
11,1,SO - 0005251,2017-11-17,2017-11-21,1,Export,USD,AXW291,22,5,837.5,502.500,4187.5
12,1,SO - 0005445,2017-11-17,2017-12-05,34,Export,NZD,AXW291,100,5,2599.6,1039.840,12998.0
13,1,SO - 0005170,2018-12-01,2018-12-13,37,Export,NZD,GUT930,66,7,2552.7,1480.566,17868.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7948,14,SO - 0005965,2017-11-09,2017-11-23,37,Export,GBP,AXW291,88,6,1748.7,944.298,10492.2
7960,14,SO - 0003022,2017-08-04,2017-08-18,25,Export,NZD,AXW291,94,11,2680.0,1956.400,29480.0
7967,14,SO - 0001087,2019-08-22,2019-08-31,15,Export,USD,NXH382,24,10,2525.9,1667.094,25259.0
7973,14,SO - 0002843,2017-12-31,2018-01-10,16,Export,NZD,AXW291,89,10,3839.1,2111.505,38391.0
7990,14,SO - 0007111,2018-05-07,2018-05-11,31,Export,NZD,AXW291,65,12,1072.0,439.520,12864.0

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product  Index       7991 non-null   int64
 1   OrderNumber          7991 non-null   object
 2   OrderDate            7991 non-null   datetime64[ns]
 3   Ship Date            7991 non-null   datetime64[ns]
 4   Customer Name Index  7991 non-null   int64
 5   Channel              7991 non-null   object
 6   Currency Code        7991 non-null   object
 7   Warehouse Code       7991 non-null   object
 8   Region Index         7991 non-null   int64
 9   Order Quantity       7991 non-null   int64
 10  Unit Price           7991 non-null   float64
 11  Total Unit Cost      7991 non-null   float64
 12  Total Revenue        7991 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(4), object(4)
memory usage: 811.7+ KB

In [49]:
df_exp=df.loc[(df["Channel"]=="Export")&(df["Currency Code"]=="NZD")]
df_exp

,Product Index,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Region Index,Order Quantity,Unit Price,Total Unit Cost,Total Revenue
8,1,SO - 0005303,2018-11-29,2018-12-08,13,Export,NZD,GUT930,19,9,958.1,479.050,8622.9
12,1,SO - 0005445,2017-11-17,2017-12-05,34,Export,NZD,AXW291,100,5,2599.6,1039.840,12998.0
13,1,SO - 0005170,2018-12-01,2018-12-13,37,Export,NZD,GUT930,66,7,2552.7,1480.566,17868.9
25,1,SO - 0002711,2018-11-24,2018-12-05,17,Export,NZD,GUT930,49,9,268.0,219.760,2412.0
52,1,SO - 0001034,2017-05-24,2017-05-27,22,Export,NZD,AXW291,85,5,3839.1,2610.588,19195.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7927,14,SO - 0006005,2018-04-12,2018-04-16,9,Export,NZD,AXW291,2,9,2512.5,1231.125,22612.5
7937,14,SO - 0003216,2018-03-04,2018-03-16,25,Export,NZD,AXW291,52,7,221.1,119.394,1547.7
7960,14,SO - 0003022,2017-08-04,2017-08-18,25,Export,NZD,AXW291,94,11,2680.0,1956.400,29480.0
7973,14,SO - 0002843,2017-12-31,2018-01-10,16,Export,NZD,AXW291,89,10,3839.1,2111.505,38391.0
7990,14,SO - 0007111,2018-05-07,2018-05-11,31,Export,NZD,AXW291,65,12,1072.0,439.520,12864.0

In [57]:
df_exp1=df.loc[(df["Channel"]=="Export")&(df["Currency Code"]=="NZD")&(df["Product  Index"]=="2")]
df_exp1

Empty DataFrame
Columns: [Product  Index, OrderNumber, OrderDate, Ship Date, Customer Name Index, Channel, Currency Code, Warehouse Code, Region Index, Order Quantity, Unit Price, Total Unit Cost, Total Revenue]
Index: []